@import './../../../../constants/default-variables.scss';

.appButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $BLUE2;
    border-style: none;
    outline-style: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    &--disabled {
    cursor: not-allowed;
    }
    &--favorites {
        background-color: $GRAY0WHITE;  
        color:$GRAY4BLACK
    }
    &--catalog {
        padding: 9px 26px;
        width: 135px;
        height: 36px;
    }
    &--card {
        padding: 19px 99px;
        width: 254px;
        height: 56px;
    }

}

.appButton:hover:disabled {
background-color: $GRAY2;
}
.appButton:hover {
background-color: $BLUE3;
}
.appButton--favorites:hover {
    background-color: $GRAY0WHITE;  
}