@import "./../../constants/default-variables.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  height: 70px;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 134px;
  height: 18.49px;
  img {
    margin-right: 21px;
    width: 100%;
  }
}
.header__group {
  display: flex;
  align-items: center;
}
.header__contact {
  display: flex;
  margin-right: 166px;
}
.header__tel {
  text-decoration: none;
  color: $GRAY4BLACK;
  font-weight: 500;
  margin-left: 31px;
}
